<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моя библиотека</title>
</head>
<body>
<header>Моя библиотека</header>
<table border="solid">
    <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Жанр</th>
        <th>Количество страниц</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="book:${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.pages}"></td>
        <td>
            <a th:href="@{'/edit-form/' + ${book.id}}">Править</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${book.id}}">Удалить</a>
        </td>
    </tr>
</table>
<a href="/create-form">Добавить книгу</a>
</body>
</html>